<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="2">
    <thead>
        <tr>
            <th colspan="1">
                Filter by Email:
                <input class="form-control" [(ngModel)]="filterQuery" />
            </th>
        </tr>

        <tr>
            <th>
                <mfDefaultSorter by="firstName">FirstName</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="birthDate">BirthDate</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="gender">Gender</mfDefaultSorter>
            </th>
            <th>
                Hobby
            </th>
            <th>
                <mfDefaultSorter by="country">Country</mfDefaultSorter>
            </th>
            <th>
                Image
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let user of mf.data">
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.birthDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.gender}}</td>
            <td><span *ngIf="(user.hobby.hobbyCricket == 'true')">  Cricket</span>
                <span *ngIf="(user.hobby.hobbyFootball == 'true')"> Football</span>
            </td>
            <td>{{user.country | uppercase}}</td>
            <td><img style="max-height:7%" src="{{USER_IMG_URL}}{{user.imgName}}"></td>
            <td><a (click)="edit(user._id)">Edit</a></td>
            <td><a (click)="delete(user._id)">Delete</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>